@import '../../../styles/base';

.projects-header-grow {
    flex-grow: 1;
}

.projects-header {
    // background-color: aqua;
    display: flex;

    border-bottom: 1px solid $ios-systemgray4;
    margin: $theme--spacing * 0 $theme--spacing * 4 $theme--spacing * 0 $theme--spacing * 4;
    padding: $theme--spacing * 1 $theme--spacing * 4 $theme--spacing * 1 $theme--spacing * 4;

    .projects-header-title {
        margin-right: $theme--spacing * 1;
    }

    .new-project-button {
        border-color: $secondary-color;
    }
}

.new-dialog-root {
    .MuiBackdrop-root {
        background-color: rgba($ios-systemgray6, 0.4);
    }
}

.new-dialog {
    padding: $theme--spacing * 2;
    border-radius: $theme--border-radius * 2;

    .new-dialog-title {
        border-bottom: 1px solid $ios-systemgray4;
        padding: $theme--spacing * 1 $theme--spacing * 3;
        margin: $theme--spacing * 1 $theme--spacing * 0;
    }

    .new-dialog-content {
        border-bottom: 1px solid $ios-systemgray4;
        margin: $theme--spacing * 1 $theme--spacing * 0;
        padding-bottom: $theme--spacing * 3;

        .new-dialog-proj-name {
            margin-bottom: $theme--spacing;
        }

        .new-dialog-proj-lang {
            margin-top: $theme--spacing;
        }
    }

    .new-dialog-actions {
        // padding: $theme--spacing * 1 $theme--spacing * 1;
    }
}
