@import 'base';

.dashboard-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background: $page-background;
}

.navbar--root {
    display: block;
}

.dashboard-collection-view-root {
    background-color: red;
    flex-grow: 1;
}

