@import 'base';

.dashboard-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $page-background;
}

.dashboard-grow {
    flex-grow: 1;
}

.navbar--root {
    display: block;
}

.dashboard-projects-root {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0;
    padding-top: $theme--spacing * 6;
    
    .projects-header {
        // background-color: aqua;
        display: flex;

        border-bottom: 1px solid $ios-systemgray4;
        margin: $theme--spacing * 0 $theme--spacing * 4 $theme--spacing * 0 $theme--spacing * 4;
        padding: $theme--spacing * 1 $theme--spacing * 4 $theme--spacing * 1 $theme--spacing * 4;

        .projects-header-title {
            margin-right: $theme--spacing * 1;
        }

        .new-project-button {
            border-color: $secondary-color;
        }
    }

    .projects-gridview {
        // background-color: red;
        padding: $theme--spacing * 4 $theme--spacing * 4 $theme--spacing * 0 $theme--spacing * 4;

        @include respond-above('sm') {
            padding: $theme--spacing * 4 $theme--spacing * 8 $theme--spacing * 0 $theme--spacing * 8;
        }

        flex: 1 1 0;
        min-height: 0;
        overflow-y: scroll;

        .projects-gridlist {
            width: 100%;
        }
    }
}

.project-card {
    margin: 10px;
    border-radius: $theme--spacing;

    .project-card-media {
        height: 150px;
        object-fit: contain;
    }

    .project-card-content {
        display: flex;
        justify-items: center;
        align-items: center;
        flex: 1 1 0;
        min-width: 0;
        // padding: $theme--spacing * 2;

        .project-card-title-col {
            flex: 1 1 0;
            min-width: 0;
            
            // min-height: 0;

            .project-card-title-row {
                display: flex;
                flex: 1 1 0;
                min-width: 0;

                .project-card-title {
                    @include truncate-text;
                }

                .project-card-icon {
                    flex-shrink: 1;
                    width: 24px;
                    height: 24px;
                    margin-right: $theme--spacing * 1;
                    object-fit: contain;
                }
            }

            .project-card-subtitle-row {
                display: flex;
                flex: 1 1 0;
                min-width: 0;

                .project-card-last-mdate {
                    color: $ios-systemgray;
                    @include truncate-text;
                }
            }
        }

        .project-card-option-col {
            .project-card-options {
                padding: 0px;
                width: auto;

                @include respond-above('sm') {
                    padding: $theme--spacing;
                }

                .MuiButton-label {
                    width: 10px;
                }
            }
        }
    }
}
