@import 'base';

@mixin root {
    @include centered-column-flex;
    height: 100%;
    background: $page-background;
}

@mixin container {
    @include centered-column-flex;
    width: 380px;
}

@mixin card($base-class) {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 8px;

    .MuiCardContent-root {
        padding: 0px;
    }

    .#{$base-class}-username, .#{$base-class}-email, .#{$base-class}-button, .#{$base-class}-error-message {
        width: 100%;
    }

    .#{$base-class}-email, .#{$base-class}-button, .#{$base-class}-error-message {
        margin-top: 20px;
    }
}

.sign-password-control, .sign-password {
    width: 100%;
}

.sign-password-control {
    margin-top: 20px;
}

@mixin button-div {
    width: 100%;
}

@mixin button {
    width: 100%;
    border-color: $primary-color;
    
    .MuiTypography-button {
        font-weight: bold;
        text-transform: none;    
    }
}
